.chartColor1{
    background-color: #F8B222;
    width: 20px;
    height: 20px;
}
.chartColor2{
    background-color: #49A347;
    width: 20px;
    height: 20px;
}
.chartStyle{
    width: 300px;
    height: 300px;
}

