.chartColor1{
    background-color: #F8B222;
    width: 20px;
    height: 20px;
}
.chartColor2{
    background-color: #E48B25;
    width: 20px;
    height: 20px;
}
.chartColor3{
    background-color: #49A347;
    width: 20px;
    height: 20px;
}
.chartColor4{
    background-color: #F9CE99;
    width: 20px;
    height: 20px;
}